/***********************************************
 * COMMONS
 ***********************************************/

@font-face {
    font-family: 'IM Fell DW Pica';
    font-style: normal;
    font-weight: 400;
    src: local('IM FELL DW Pica Roman'), local('IM_FELL_DW_Pica_Roman'), url(../font/IMfellDWpica.woff2) format('woff2');
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(../font/SourceCodePro.woff2) format('woff2');
}

/*Hide parts on development*/
.TODO {
    display: none!important;
}

body {
    margin:0!important;
    background-color: #575867;
    /*color: #DDD; /*@DARK*/
    /*font-family: 'IM Fell DW Pica', serif;*/
    /*vertical-align: middle;*/
}

table {
    font-family: 'Source Code Pro', monospace;
    /*border-collapse: collapse;
    text-align:center;*/
}

.invisibleTable {
    border: none;
}
.invisibleTable th {
    background-color: transparent;
    background-image: none;
    color: #DDD;
}
.invisibleTable td,
.invisibleTable th {
    border: none;
}

.unselectableText {
   -khtml-user-select: none;
   -moz-user-select: -moz-none;
   -ms-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

/* BS custom small tables */
.table-sm>:not(caption)>*>* {
    padding: 0.1rem 0.1rem;
}

/***********************************************
 * PANEL OVERLAY
 ***********************************************/


.hum-splash-modal .spinner-border {
    --bs-spinner-border-width: 1.25em;
}

.hum-dark-backdrop {
    --bs-backdrop-opacity: 0.7;
}
.hum-black-backdrop {
    --bs-backdrop-opacity: 1;
}

.hum-custom-popover {
  /*--bs-popover-max-width: 200px;*/
  --bs-popover-border-color: #c5b500;
  --bs-popover-header-bg: #fff9b4;
  /*--bs-popover-header-color: var(--bs-white);*/
  /*--bs-popover-body-padding-x: 1rem;*/
  /*--bs-popover-body-padding-y: .5rem;*/
}

.hum-toast {
  --bs-toast-bg: rgba(255, 255, 255, 0.95);
}

.hum-section-title {
    background-color: #f7f7f7;
}

.IOcheckbox {
    margin-bottom: 0.25rem;
}

.IOcheckbox label {
    margin-left: 0.25rem;
}

input:focus:not([type="range"]):not([type="radio"]), select:focus, button:focus {
    border-color: #503535cc!important;!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 9px #503535cc!important;
    outline: 0 none!important;
}

/* The bottom panel Overlay (background) */
.panelOverlay.bottomPanel {
    bottom: 0; 
    height: 0;
    left: 0;
    position: fixed; /* Stay in place */
    transition: 0.5s;
    width: 100%;
    z-index: 3; /* Sit on top */
}
/* The bottom panel Overlay (background) */
.panelOverlay.rightPanel {
    /*background-color: #575867;*/
    background-color: rgb(38 35 54);
    height: 100%;
    position: fixed; /* Stay in place */
    right: 0;
    top: 0; 
    /*transition: 0.4s; */
    width: 0;
    z-index: 3; /* Sit on top */
    display: grid;
}

ul.dropdown-menu>li.active>a{
    background-color: #503535;
    background-image: linear-gradient( to top left, #8e4a4a, #2d1e1e);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link,
.dropdown-item.active, .dropdown-item:active {
    background-color: #503535;
    background-image: linear-gradient( to top left, #8e4a4a, #2d1e1e);
}

.nav-pills .nav-link.hum-nav-link:not(.active) {
    color: #DDD;
    background-color: #2a2838; /*@DARK*/
    background-image : linear-gradient( to top left, rgba(124, 120, 150, 0.7), #2a2838); 
}

.nav-pills .nav-link.hum-nav-link:not(.active):hover {
    background-color: #2f1a1a; /*@DARK*/
    background-image: linear-gradient( to top left, #483030, #160e10);
}

.hum-accordion-button {
    color: #DDD;
    /*font-size: calc(1em + 0.4vw);*/
    background-color: #2a2838; /*@DARK*/
    background-image : linear-gradient( to top left, rgba(124, 120, 150, 0.7), #2a2838);
    /*border-radius: 10px;*/
}
.hum-accordion-button:hover {
    background-color: #2f1a1a; /*@DARK*/
    background-image: linear-gradient( to top left, #483030, #160e10);
}
.hum-accordion-button:not(.collapsed) {
    color: #DDD;
    background-color: #503535;
    background-image: linear-gradient( to top left, #8e4a4a, #2d1e1e);
}
.hum-accordion-button::after {
    filter: brightness(0%) invert(100%);
}

/***********************************************
 * OVERLAY HELP PANEL CONTENT (RIGHT)
 ***********************************************/
.rightPanel.hum-modal-shown .panelBtnContainer {
    cursor: pointer;
    max-width: 9vw;
}

/***********************************************
 * LOGO
 ***********************************************/
.hum-logo-container {
    padding: 8px 8px 8px 8px;
}
.hum-logo-container img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}



/***********************************************
 * OVERLAY LOG TEXTBOX (BOTTOM)
 ***********************************************/
.logText {
    font-family: 'Source Code Pro', monospace;
}
.logText p {
    margin: 0;
    padding-left: 85px;
    text-indent: -85px;
    white-space: pre;
}
/* When the height of the screen is less than 450 pixels,
change the font-size of the links and position the close button again,
so they don't overlap */
/*@media screen and (max-height: 450px) {
  .LogOverlay {overflow-y: auto;}
  .LogOverlay a {font-size: 20px}
  .LogOverlay .LogBtnContainer {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}*/

/***********************************************
 * OVERLAY OPEN/CLOSE BUTTON
 ***********************************************/

.hum-modal-shown.hum-modal-half .btn-close.hum-arrow-bar-right {
    display: none;
}

.hum-modal-shown.hum-modal-full .btn-close.hum-arrow-bar-left {
    display: none;
}

.bottomPanel .panelBtnContainer {
    display: none;
    /*bottom: 10px;*/ /* Position the close button (top right corner) */
    /*cursor: pointer;
    display: inline-block;
    font-size: 60px;
    position: fixed;
    right: 20px;*/
}
.bottomPanel .hum-modal-shown {
    position: absolute;
    top: 20px;
}
.bottomPanel .panelBtnContainer.hum-modal-shown {
    display: inline-block;
    /*height: 40px;*/
    /*position: absolute;*/
    top: 20px;
    right: 20px;
/*    font-size: 60px;
    cursor: pointer;*/
}
/*The three bars for the icon*/
.panelBtnBar1,
.panelBtnBar2,
.panelBtnBar3 {
    background-color: #888;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
    width: 35px;
}
/* Rotate first bar */
.hum-modal-shown .panelBtnBar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
/* Fade out the second bar */
.hum-modal-shown .panelBtnBar2 {opacity: 0;}
/* Rotate last bar */
.hum-modal-shown .panelBtnBar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.panelBtnContainer:hover .panelBtnBar1,
.panelBtnContainer:focus .panelBtnBar1,
.panelBtnContainer:hover .panelBtnBar2,
.panelBtnContainer:focus .panelBtnBar2,
.panelBtnContainer:hover .panelBtnBar3,
.panelBtnContainer:focus .panelBtnBar3 {
    background-color: #CCC;
}



/***********************************************
 * DP PAD TOOLBAR
 ***********************************************/
.dpToolbarIcon:hover {
    fill: #d08d8d;
}

/***********************************************
 * DP PAD
 ***********************************************/

/* Some CSS styling */
.hum-dppad-container {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*transition: width 0.4s;*/
}

.padFT,
.padHT,
.toolbar {
    float:left;
    display: inline-block;
}

.padFT {
    /*background-color:#edf;*/
    box-shadow: inset 1px 0px 4px black;
    /*transition: width 0.4s;*/
    background: rgb(255 212 224);
    background: linear-gradient(90deg, rgb(255 212 224) 0%, rgb(255,255,255) 50%, rgb(255 212 224) 100%);
}
.padHT {
    /*background-color:#def;*/
    box-shadow: inset 1px 0px 4px black;
    /*transition: width 0.4s;*/
    background: #def;
    background: linear-gradient(90deg, #c8e3ff 0%, rgb(255,255,255) 50%, #c8e3ff 100%);
}
.toolbar {
    background-color:#000;
    box-shadow: -1px 0px 6px black;
    background: radial-gradient(circle, rgb(15 11 46) 0%, rgb(65 60 91) 70%, rgb(13,14,14) 128%);
    background-position-x: 20px;
    background-position-y: 100px;
    /*transition: width 0.4s;*/
}
.toolbarPad {
    /*background-color: rgb(38 35 54);
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(44 33 99) 34%, rgba(13,14,14,1) 188%)*/
    /*transition: width 0.4s;*/
}
.canvasPad {
    /*float:left;*/
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
    /*transition: width 0.4s;*/
}


/***********************************************
 * MODAL MIDI-OUT TUNING METHODS
 ***********************************************/
.mot-pb-settings button {
    vertical-align: top;
}
.mot-pb-settings {
    display: flex;
}
.mot-pb-row2 td,
.mot-pb-row1 th[rowspan="2"] {
    border-bottom: solid 1px;
}
td.mot-pb-portChannel_ft,
td.mot-pb-portChannel_ht {
    padding: 1px;
}
td.mot-pb-rangeHT,
td.mot-pb-delayHT {
    padding: 3px 15px 0 15px;
}
td.mot-pb-rangeFT,
td.mot-pb-delayFT {
    padding: 6px 15px 0 15px;
}
.mot-pb-typeHeader {
    font-size: 20px;
}


/***********************************************
 * MIDI PARAMS (inside the modal window)
 ***********************************************/
table.midiParam {
    text-align: left;
}
.webmidilinkLoaded {
    color:green;
}
.webmidilinkProgress {
    color:yellow;
}
.webmidilinkNotLoaded {
    color:red;
}

/***********************************************
 * REFERENCE SYNTH
 ***********************************************/
.hmVUmeter {
    margin: 8px 0 0 12px;
    width: 75px;
    height: 214px;
}

/*.slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
}
.slider-wrapper input,
.slider-wrapper label {
  width: 150px;
  height: 20px;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}

.vertical-wrapper {
  display: inline-block;
  width: 16px;
  height: 175px;
  position: relative;
  padding: 0 5px;
}
.vertical-wrapper input,
.vertical-wrapper label {
  width: 175px;  
  height: 16px;
  transform: rotate(-90deg);
  transform-origin: left;
  position: absolute;
  left: 50%;
  bottom: -1em;
}
*/

/***********************************************
 * VISUALIZER (@TODO)
 ***********************************************/
/*.synthVisualiser {
    width: 220px;
} */

/***********************************************
 * FUNDAMENTAL TONES SETTINGS
 ***********************************************/
.ftNEDX_VarsTxt {
    font-family: serif;
    font-size: 16px;
    font-style: italic;
}
.hmFMout {
    font-family: 'Source Code Pro', monospace;
}

/***********************************************
 * H STACK
 ***********************************************/

/***********************************************
 * HSTACK FT (MONITOR) TABLE
 ***********************************************/

hr {
    border-top: 7px solid;
}

/*H Stack HT & FT rows color on keypress events*/
@keyframes FTpressedKey {
    0% {
        background-color: #FFF;
        color: #FFFFBB
    }
    100% {
        background-color: #FFC79D;
        color: #2A2838;
    }
}
@keyframes FTreleasedKey {
    0%   {
        background-color: #FFC79D;
        color: #2A2838;
    }
    100% {
        background-color: #FFF;
        color: #DDD;
    }
}
.hum-hstack-ft-on {
    animation: FTpressedKey 250ms forwards;
    font-weight: bold;
}
.hum-hstack-ft-off {
    animation: FTreleasedKey 250ms linear;
    font-weight: normal;
    /*color: #DDD;*/
}
.hum-hstack-ht-on {
    background-color: #C9E2F7;
    color: #2A2838;
    font-weight: bold;
}
.hum-hstack-ht-off {
    background-color: transparent;
    /*color: #DDD;*/
    font-weight: normal;
    transition: all 125ms linear;
}

/***********************************************
 * VIRTUAL PIANO KEYBOARD
 ***********************************************/

/*QWERTY HANCOCK WRAPPER*/
/*======================*/
.hmHancockContainer {
    background-color: transparent!important; /*@DARK*/
    display: table;
    margin-top: 5px!important;
    /*Prevent double-tap zoom*/
    touch-action: none;
}
.hmHancockContainer > ul {
    background-color: transparent!important; /*@DARK*/
}

.hmHancockContainer li {
    box-sizing: content-box; /*BS fix*/
}

/*QWERTY HANCOCK KEYS*/
/*======================*/
/*FT keys*/
.FTwKey.releasedKey {
    background-color: #ECA589!important;
}
.FTwKey.pressedKey {
    background-color: #793B3B!important;
}
.FTbKey.releasedKey {
    background-color: #B96363!important;
}
.FTbKey.pressedKey {
    background-color: #793B3B!important;
}
/*HT keys*/
.HTwKey.releasedKey {
    background-color: #B0C4DE!important;
}
.HTwKey.pressedKey {
    background-color: #2B506E!important;
}
.HTbKey.releasedKey {
    background-color: #4682B4!important;
}
.HTbKey.pressedKey {
    background-color: #2B506E!important;
}
/*HT0 keys*/
.HT0wKey.releasedKey {
    background-color: olivedrab!important;
}
.HT0wKey.pressedKey {
    background-color: darkolivegreen!important;
}
.HT0bKey.releasedKey {
    background-color: olivedrab!important;
}
.HT0bKey.pressedKey {
    background-color: darkolivegreen!important;
}
/*NORMAL keys*/
.wKey.releasedKey {
    background-color: white!important;
}
.wKey.pressedKey {
    background-color: yellow!important;
}
.bKey.releasedKey {
    background-color: black!important;
}
.bKey.pressedKey {
    background-color: gold!important;
}

/*Key-numbers (from the keymap)*/
.FTbKeyFn,
.FTwKeyFn,
.HTbKeyFn,
.HTwKeyFn {
    background: none!important;
    color: #000;
    display: initial;
    font-family: 'Source Code Pro', monospace;
    font-size: 8px;
    font-weight: bold;
    pointer-events: none;
    position: absolute;
    top: 70%;
}
.pressedKey .FTbKeyFn,
.pressedKey .FTwKeyFn,
.pressedKey .HTbKeyFn,
.pressedKey .HTwKeyFn {
    color: #DDD;
}

/***********************************************
 * SLIDER TOOLTIP
 * get from Chris Bracco https://codepen.io/cbracco/pen/qzukg
 ***********************************************/
/* Add this attribute to the element that needs a tooltip */
input[data-tooltip] {
    cursor: pointer;
    position: relative;
    z-index: 2;
}
/* Hide the tooltip content by default */
input[data-tooltip]:before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
/* Position tooltip above the element */
input[data-tooltip]:before {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    border-radius: 3px;
    bottom: -120%;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    left: 70%;
    line-height: 1.2;
    margin-bottom: 5px;
    /*margin-left: -80px;*/
    padding: 4px;
    position: absolute;
    text-align: center;
    width: 80px;
}
/* Show tooltip content on hover */
input[data-tooltip]:hover:before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
}



.hum-circle-x {
    width: 2.2em;
    height: 2.2em;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") center/2.2em auto no-repeat;
}

.hum-arrow-bar-left {
    width: 2.2em;
    height: 2.2em;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z'/%3e%3c/svg%3e") center/2.2em auto no-repeat;
}
.hum-arrow-bar-right {
    width: 2.2em;
    height: 2.2em;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z'/%3e%3c/svg%3e") center/2.2em auto no-repeat;
}


div.hum-range-param {
    text-align: center;
}

.hum-range-param label{
    margin: 0;
}


.hum-justify {
    width: 100%;
    /*text-align: justify;*/
    /*height: 1.5em;*/
    /*line-height: 1.5em;*/
    text-align-last: justify;
}
.hum-justify:after {
    content: "";
    display: inline-block;
    /*width: 100%;*/
}

/***********************************************
 * CREDITS / HELP
 ***********************************************/

.hum-credits p,
.hum-help p {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    color: #DDD; /*@DARK*/
    font-family: 'IM Fell DW Pica', serif;
}
/* The navigation links inside the overlay */
.hum-credits a,
.hum-help a {
    /*color: #818181;*/
    text-decoration: none;
    transition: 0.3s;
    color: #f5a282
}

.hum-credits,
.hum-help {
    /*min-height: 100vh;*/
    margin-bottom: 20px;
    color: #DDD; /*@DARK*/
    font-family: 'IM Fell DW Pica', serif;
    padding-left: 20px;
    padding-right: 20px;

}

.hum-credits h1,
.hum-help h1 {
    font-size: 2em;
}

.hum-credits h2,
.hum-help h2 {
    font-size: 1.5em;
}

.hum-credits h3,
.hum-help h3 {
    font-size: 1.17em;
}

.hum-credits img {
    float: right;
    width: 30%;
}

.hum-credits .monospace,
.hum-help .monospace {
    font-family: 'Source Code Pro', monospace;
}
